body {
    background: url('../../images/bg/repo-man.jpg');
    background-size: 100% auto;
}

.avatar {
    height: 4em;
    border-radius: 50%;
}

/*TODO: Introduce SASS*/
.main.content h1 {
    padding: 1em;
    font-size: 2em;
}
