body {
    background: url('../../images/bg/repo-man.jpg');
    background-size: 100% auto;
}

input.input-search {
    background-color: #fff;
    border: 1px solid #ccc;
}

.btn-search {
    text-decoration: none;
}

.avatar {
    height: 4em;
    border-radius: 50%;
}

/*TODO: Introduce SASS*/
.main.content h1 {
    padding: 1em;
    font-size: 2em;
}

@media (max-width: 480px) { /*ohOH... mixing min and max*/
    img.avatar {
        display: block;
        margin: 0 auto;
    }
}
